.form-wrap {
    display: flex;
    background: rgb(32, 89, 232);
    padding-top: 10px;
    padding-bottom: 10px;
    
    position: sticky;
    top: 0;
    // z-index: 100;
    // // width: 100%;
}

.search-form {
    display: block;
    margin: 0 auto;
    border-radius: 4PX;
    border-color: yellow;
}

